body {
    background-color: #ffffff;
    margin: 0px;
  }

#container {
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

#header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    align-items: center;
    background-color: white;
  }

#logo-container {
    border: 0.5 black solid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: row;
}

#container-left {
    grid-row-start: 10;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 3;
    background-color: white;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#departure {
    width: 65%;
    height: 3vh;
    margin-top: 10%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F4;
    border-bottom: 1px solid #dadada;
  }

#arrival {
    width: 65%;
    height: 3vh;
    margin: 0px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F4;
    border-bottom: 1px solid #dadada;
  }

    
#date {
    width: 65%;
    height: 3vh;
    margin: 10%;
    padding: 3%;
    border-radius: 10px;
    border: none;
    background-color: #F3F3F4;
    border-bottom: 1px solid #dadada;
    }

#search-btn {
    width: 70%;
    height: 3vh;
    margin-top: 3%;
    padding: 5%;
    border-radius: 10px;
    background-color: #58A895;
    border: none;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dadada;
  }

#container-right {
    background-image: url('images/train.png');
    background-position: center;
    background-size: cover;
    grid-row-start: 10;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-end: 8;
    background-color: white;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column-reverse;
    border-radius: 10px;
}

#no-trip{
    grid-row-start: 10;
    grid-row-end: 4;
    grid-column-start: 11;
    grid-column-end: 8;
    display: flex;
    flex-direction: column;
}

#container-trips {
    overflow: scroll;
    width: 100%;
}

#message-error {
    
}
            
